<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1584109504427-f9b960c94cdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);">
  <div class="container">
    <h1><strong>Voyager en France selon vos critères</strong></h1>
    <p>Découvrez les meilleurs villes pour vos futurs vacances </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
<div class="section">
  <div class="row">
  <div class="col-md-3">
  <div class="card">
    <div class="face face1">
      <div class="content">
      <h2 class="java">Score:</h2>
      <% @towns.each do |town|%>
        <!--<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>-->
        <h5 class="java">
          Cout :
          <% town.cost.times do %>
            <% if town.cost >= 4 %>
             <i class="fa-regular fa-star" style="background-color:#2bde73"></i>
            <% elsif town.cost == 3 %>
              <i class="fa-regular fa-star"   style="color: #ffc924"></i>
            <% else %>
               <i class="fa-regular fa-star"   style="color: red "></i>
            <% end %>
          <% end %>
        </h5>
        <h5 class="java">Sécurité :
          <% town.safety.times do %>
           <% if town.safety >= 4 %>
             <i class="fa-regular fa-star" style="background-color:yellow"></i>
            <% elsif town.safety == 3 %>
              <i class="fa-regular fa-star" style="background-color: #ffc924"></i>
            <% else %>
               <i class="fa-regular fa-star"   style="color: red "></i>
            <% end %>
          <% end %>
        </h5>
        <h5 class="java">Tourisme :<%= town.sightseeing %></h5>
        <h5 class="java">Culture :<%= town.culture %></h5>
        <h5 class="java">Ambiance :<%= town.vibe %></h5>
      </div>
    </div>
    <div class="face face2">
      <div class="cards">
          <h1 class="text-center"><%= town.name %> </h1>
          <h4 class="text-center"><%= town.region %> </h4>
      </div>
    </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
  
</div>
