<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1584109504427-f9b960c94cdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);">
  <div class="container">
    <h1><strong>Voyager en France selon vos critères</strong></h1>
    <p>Découvrez les meilleurs villes pour vos futurs vacances </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container mt-5">
    <div class="row">
        <% @towns.each do |town| %>
    <div class="col-md-3">
    <div class="card" style ="background-image: 
       linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
       url('<%= cl_image_path town.photo.key %>')">
      <div class="face face1">
        <div class="container">
          <!--<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>-->
          <div class="row">
            <div class="col-md-6 d-flex justify-content-start ">
              <h5><%= Emoji.find_by_alias("dollar").raw %></h5>
              <h5 class="java px-2">Coût </h5>     
            </div>
            <div class="col-md-6">
              <h5 class="java">
                <% town.cost&.times do %>
                  <% if town.cost >= 4 %>
                   <i class="fa-regular fa-star" style="background-color:#2bde73"></i>
                  <% elsif town.cost == 3 %>
                    <i class="fa-regular fa-star"   style="background-color: #ffc924"></i>
                  <% else %>
                     <i class="fa-regular fa-star"   style="background-color: red "></i>
                  <% end %>
                <% end %>
              </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
               <h5><%= Emoji.find_by_alias("police_car").raw %></h5>
              <h5 class="java px-2">Sécurité </h5>  
            </div>
            <div class="col-md-6">
             <h5 class="java">
              <% town.safety&.times do %>
               <% if town.safety >= 4 %>
                 <i class="fa-regular fa-star" style="background-color:#2bde73"></i>
                <% elsif town.safety == 3 %>
                  <i class="fa-regular fa-star" style="background-color:
                  #ffc924"></i>
                <% else %>
                   <i class="fa-regular fa-star"   style="background-color: red "></i>
                <% end %>
              <% end %>
            </h5>
            </div>    
          </div>

          <div class="row">
            <div class="col-md-6">
               <h5 class="java">
               </h5>
            </div>
            <div class="col-md-6">
               <h5 class="java px-2">
               </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
              <h5><%= Emoji.find_by_alias("man").raw %></h5>
              <h5><%= Emoji.find_by_alias("woman").raw %></h5>
              <h5 class="java px-2">Tourisme </h5>  
            </div>
            <div class="col-md-6">
               <h5 class="java">
                  <% town.sightseeing&.times do %>
                   <% if town.sightseeing >= 4 %>
                     <i class="fa-regular fa-star" 
                     style="background-color:#2bde73"></i>
                    <% elsif town.sightseeing == 3 %>
                      <i class="fa-regular fa-star" 
                      style="background-color: #ffc924"></i>
                    <% else %>
                       <i class="fa-regular fa-star"                  style="background-color: red "></i>
                    <% end %>
                  <% end %>
               </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
              <h5><%= Emoji.find_by_alias("art").raw %></h5>
              <h5 class="java px-2">Culture </h5>
            </div>
            <div class="col-md-6">
               <h5 class="java">
                 <% town.culture&.times do %>
                   <% if town.culture >= 4 %>
                     <i class="fa-regular fa-star"
                     style="background-color:#2bde73"></i>
                    <% elsif town.culture == 3 %>
                      <i class="fa-regular fa-star" 
                      style="background-color: #ffc924"></i>
                    <% else %>
                       <i class="fa-regular fa-star"                  style="background-color: red "></i>
                    <% end %>
                  <% end %>
               </h5>
               </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
              <h5><%= Emoji.find_by_alias("tada").raw %></h5>
              <h5 class="java px-2">Ambiance </h5>
            </div>
            <div class="col-md-6">
               <h5 class="java">
                <% town.vibe&.times do %>
                   <% if town.vibe >= 4 %>
                     <i class="fa-regular fa-star" 
                     style="background-color:#2bde73"></i>
                    <% elsif town.vibe == 3 %>
                      <i class="fa-regular fa-star" 
                      style="background-color: #ffc924"></i>
                    <% else %>
                       <i class="fa-regular fa-star"                  style="background-color: red "></i>
                    <% end %>
                  <% end %>
               </h5>
               </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="face face2" style ="background-image: 
       linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
       url('<%= cl_image_path town.photo.key %>')">
        <div class="cards">
          <h1 class="text-center"><%= town.name %></h1>
          <h4 class="text-center"><%= town.region %></h4>
        </div>
      </div>
      </div>
    </div>
        <% end %>
    </div>
  </div>
