<div class="container">
	<div class="row justify-content-center">
		 <div class="col-12 col-md-6">
		 	<h2 style="color:black">Ajouter une ville</h2>
			<%= simple_form_for @town do |f| %>
				<%= f.input :name %>
				<%= f.input :photo, as: :file %>
				<%= f.input :region %>
				<%= f.input :state %>
				<%= f.input :category , collection:["Ville","Village",
					"Campagne"]%>
				<%= f.input :geography , collection:["Plage","Montagne",
					"Haute-Montagne", "les îles"]%>
				<%= f.input :cost %>
				<%= f.input :vibe %>
				<%= f.input :safety %>
				<%= f.input :sightseeing %>
				<%= f.input :culture %>
				<%= f.input :food %>
				<%= f.input :score %>
				<%= f.submit "Ajoutez une ville" %>
			<% end %>
		</div>
	</div>
</div>
