 <div class="row">
    <div class="col-md-6 d-flex justify-content-start">
       <h5><%= Emoji.find_by_alias("police_car").raw %></h5>
      <h5 class="java px-2">Sécurité </h5>  
    </div>
    <div class="col-md-6">
     <h5 class="java">
      <% town.safety.times do %>
       <% if town.safety >= 4 %>
         <i class="fa-regular fa-star" style="background-color:#2bde73"></i>
        <% elsif town.safety == 3 %>
          <i class="fa-regular fa-star" style="background-color:
          #ffc924"></i>
        <% else %>
           <i class="fa-regular fa-star"   style="background-color: red "></i>
        <% end %>
      <% end %>
    </h5>
    </div>    
</div>

<div class="row">
                <div class="col-md-6 d-flex justify-content-start">
                  <h5><%= Emoji.find_by_alias("man").raw %></h5>
                  <h5><%= Emoji.find_by_alias("woman").raw %></h5>
                  <h5 class="java px-2">Tourisme </h5>  
                </div>
                <div class="col-md-6">
                   <h5 class="java">
                      <% town.sightseeing.times do %>
                       <% if town.sightseeing >= 4 %>
                         <i class="fa-regular fa-star" 
                         style="background-color:#2bde73"></i>
                        <% elsif town.sightseeing == 3 %>
                          <i class="fa-regular fa-star" 
                          style="background-color: #ffc924"></i>
                        <% else %>
                           <i class="fa-regular fa-star"                  style="background-color: red "></i>
                        <% end %>
                      <% end %>
                   </h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 d-flex justify-content-start">
                  <h5><%= Emoji.find_by_alias("art").raw %></h5>
                  <h5 class="java px-2">Culture </h5>
                </div>
                <div class="col-md-6">
                   <h5 class="java">
                     <% town.culture.times do %>
                       <% if town.culture >= 4 %>
                         <i class="fa-regular fa-star"
                         style="background-color:#2bde73"></i>
                        <% elsif town.culture == 3 %>
                          <i class="fa-regular fa-star" 
                          style="background-color: #ffc924"></i>
                        <% else %>
                           <i class="fa-regular fa-star"                  style="background-color: red "></i>
                        <% end %>
                      <% end %>
                   </h5>
                   </h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 d-flex justify-content-start">
                  <h5><%= Emoji.find_by_alias("tada").raw %></h5>
                  <h5 class="java px-2">Ambiance </h5>
                </div>
                <div class="col-md-6">
                   <h5 class="java">
                    <% town.vibe.times do %>
                       <% if town.vibe >= 4 %>
                         <i class="fa-regular fa-star" 
                         style="background-color:#2bde73"></i>
                        <% elsif town.vibe == 3 %>
                          <i class="fa-regular fa-star" 
                          style="background-color: #ffc924"></i>
                        <% else %>
                           <i class="fa-regular fa-star"                  style="background-color: red "></i>
                        <% end %>
                      <% end %>
                   </h5>
                   </h5>
                </div>
              </div>
            </div>
          </div>