<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8" id="cards_show">
      <div class="card-category" style ="background-image: 
       linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
       url('<%= cl_image_path @town.photo.key %>')">
         <div class="cards">
          <h1 class="text-center"><%= @town.name %></h1>
          <h4 class="text-center"><%= @town.region %></h4>
        </div>
      </div> 

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
          <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-start ">
              <h5><%= Emoji.find_by_alias("dollar").raw %></h5>
              <h5 class="px-2">Coût </h5>     
            </div>
            <div class="col-md-6">
              <h5 class="java">
                <% @town.cost&.times do %>
                  <% if @town.cost >= 4 %>
                   <i class="fa-regular fa-star" style="background-color:#2bde73"></i>
                  <% elsif @town.cost == 3 %>
                    <i class="fa-regular fa-star"   style="background-color: #ffc924"></i>
                  <% else %>
                     <i class="fa-regular fa-star"   style="background-color: red "></i>
                  <% end %>
                <% end %>
              </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 d-flex justify-content-start">
               <h5><%= Emoji.find_by_alias("police_car").raw %></h5>
              <h5 class="px-2">Sécurité </h5>  
            </div>
            <div class="col-md-6">
             <h5 class="java">
              <% @town.safety&.times do %>
               <% if @town.safety >= 4 %>
                 <i class="fa-regular fa-star" style="background-color:#2bde73"></i>
                <% elsif @town.safety == 3 %>
                  <i class="fa-regular fa-star" style="background-color:
                  #ffc924"></i>
                <% else %>
                   <i class="fa-regular fa-star"   style="background-color: red "></i>
                <% end %>
              <% end %>
            </h5>
            </div>    
          </div>

          <div class="row">
            <div class="col-md-3 d-flex justify-content-start">
              <h5><%= Emoji.find_by_alias("man").raw %></h5>
              <h5><%= Emoji.find_by_alias("woman").raw %></h5>
              <h5 class=" px-2">Tourisme </h5>  
            </div>
            <div class="col-md-6">
               <h5 class="java">
                  <% @town.sightseeing&.times do %>
                   <% if @town.sightseeing >= 4 %>
                     <i class="fa-regular fa-star" 
                     style="background-color:#2bde73"></i>
                    <% elsif @town.sightseeing == 3 %>
                      <i class="fa-regular fa-star" 
                      style="background-color: #ffc924"></i>
                    <% else %>
                       <i class="fa-regular fa-star"                  style="background-color: red "></i>
                    <% end %>
                  <% end %>
               </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 d-flex justify-content-start">
              <h5><%= Emoji.find_by_alias("art").raw %></h5>
              <h5 class=" px-2">Culture </h5>
            </div>
            <div class="col-md-6">
               <h5 class="java">
                 <% @town.culture&.times do %>
                   <% if @town.culture >= 4 %>
                     <i class="fa-regular fa-star"
                     style="background-color:#2bde73"></i>
                    <% elsif @town.culture == 3 %>
                      <i class="fa-regular fa-star" 
                      style="background-color: #ffc924"></i>
                    <% else %>
                       <i class="fa-regular fa-star"                  style="background-color: red "></i>
                    <% end %>
                  <% end %>
               </h5>
               </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 d-flex justify-content-start">
              <h5><%= Emoji.find_by_alias("tada").raw %></h5>
              <h5 class=" px-2">Ambiance </h5>
            </div>
            <div class="col-md-6">
               <h5 class="java">
                <% @town.vibe&.times do %>
                   <% if @town.vibe >= 4 %>
                     <i class="fa-regular fa-star" 
                     style="background-color:#2bde73"></i>
                    <% elsif @town.vibe == 3 %>
                      <i class="fa-regular fa-star" 
                      style="background-color: #ffc924"></i>
                    <% else %>
                       <i class="fa-regular fa-star"                  style="background-color: red "></i>
                    <% end %>
                  <% end %>
               </h5>
               </h5>
            </div>
          </div>
        </div>
      </div>

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
      </div>
    </div>
  </div>
</div>
